<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		<div class="content-section-a">

				<div class="container">

						<div class="row">
								<div class="col-lg-5 col-sm-6">
										<hr class="section-heading-spacer">
										<div class="clearfix"></div>
										<h2 class="section-heading">Pályázatunk</h2>
										<div class="lead">

											Kedvezményezett: Vestalux Szociális Szövetkezet<br><br>

											Pályázat címe:<br><br>

											Projekt azonosító: <br><br>

											Teljes költség: <br><br>
											
											Támogatási összeg: <br><br>

											Önerő: <br><br>

											Támogatás aránya: <br><br>

											Projekt vége <br><br>




										</div>
								</div>
								<div class="col-lg-5 col-lg-offset-2 col-sm-6">
										<img class="img-responsive" src="img/palyazat.png" alt="">
								</div>
						</div>

				</div>
				<!-- /.container -->

		</div>


		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
