<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		<div class="content-section-a">

				<div class="container">

						<div class="row">
								<div class="col-lg-5 col-sm-6">
										<hr class="section-heading-spacer">
										<div class="clearfix"></div>
										<h2 class="section-heading">Pályázatunk</h2>
										<div class="lead">

											Kedvezményezett: Vestalux Szociális Szövetkezet<br><br>

											Pályázat címe: Mentőöv<br><br>

											Projekt azonosító: GINOP-5.1.7-17-2020-00461<br><br>

											Teljes költség: 24 626 000 Ft<br><br>

											Szerződött támogatás összege: 	23 610 000 Ft<br><br>

											Önerő: 1 016 000 Ft<br><br>

											Támogatás mértéke: 95,87%<br><br>

											Projekt tervezett befejezési dátuma: 2022. 03. 31.<br><br>

											Fejlesztett tevékenység: <br><br>
											A projekt keretében az üzleti tevékenységünket bővítettük, éttermi mozgó vendéglátással. A támogatásból vásároltunk két db konyhatechnikával felszerelt mobil felépítményt, amit szezonálisan tudtunk telepíteni. Nyári időszakban Fonyódon, szezonon kívül Lengyeltótiban üzemeltettük büféként, a jövőben forgalmas turisztikai helyszínekre kívánjuk telepíteni a két büfékonténert. Képzést követően három fő álláskereső és megváltozott munkaképességű személyt foglalkoztattunk teljes munkaidős munkaviszonyban.




										</div>
								</div>
								<div class="col-lg-5 col-lg-offset-2 col-sm-6">
										<img class="img-responsive" src="img/palyazat.png" alt="">
								</div>
						</div>

				</div>
				<!-- /.container -->

		</div>


		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}
		{% include uszt.html %}
	</body>
</html>
